name: CI-CD to GCP Cloud Run for Ride Rent Agent
on:
    workflow_dispatch:
    push:
        branches:
            - development
            - prod
            - main
            - devops-*

permissions:
    contents: read
    id-token: write

jobs:
    build-dev:
        name: Build and Push Docker Image to DEV
        runs-on: ubuntu-latest
        environment: deployments-dev
        if : github.ref == 'refs/heads/development' || github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/heads/devops-')
        outputs:
            image_tag: ${{ steps.set_tag.outputs.image_tag }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker asia-docker.pkg.dev

            -   name: Get build number
                id: buildnum
                run: echo "build_number=$(echo $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

            -   name: Set image tag
                id: set_tag
                run: |
                    DATE=$(date +'%Y%m%d')
                    TAG="${DATE}.${{ steps.buildnum.outputs.build_number }}"
                    echo "image_tag=$TAG" >> $GITHUB_OUTPUT

            -   name: Build Docker image
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.GCP_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }} -f Dockerfile-dev .

            -   name: Push Docker image
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.GCP_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }}

    
    build-prod:
        name: Build and Push Docker Image to PROD
        runs-on: ubuntu-latest
        environment: deployments-prod
        if : github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod' || github.ref == 'refs/heads/production'
        outputs:
            image_tag: ${{ steps.set_tag.outputs.image_tag }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Authenticate to Google Cloud (WIF)
                id: auth
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Configure Docker for Artifact Registry
                run: gcloud auth configure-docker asia-docker.pkg.dev

            -   name: Get build number
                id: buildnum
                run: echo "build_number=$(echo $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

            -   name: Set image tag
                id: set_tag
                run: |
                    DATE=$(date +'%Y%m%d')
                    TAG="${DATE}.${{ steps.buildnum.outputs.build_number }}"
                    echo "image_tag=$TAG" >> $GITHUB_OUTPUT

            -   name: Build Docker image
                run: docker build -t asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.GCP_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }} -f Dockerfile-prd .

            -   name: Push Docker image
                run: docker push asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.GCP_APP_NAME }}:${{ steps.set_tag.outputs.image_tag }}


    deploy-dev:
        name: Deploying to DEV Cloud Run
        runs-on: ubuntu-latest
        needs: build-dev
        if: github.ref == 'refs/heads/development' || github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/heads/devops-')
        environment: deployments-dev
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            # -   name: Await Approval
            #     uses: trstringer/manual-approval@v1
            #     with:
            #         secret: ${{ secrets.GIT_TOKEN }}
            #         approvers: ${{ secrets.GIT_APPROVERS }}
            #         minimum-approvals: 1
            #         issue-title: "Approve DEV deployment"
            #         issue-body: "Please approve or deny the DEV deployment to Cloud Run. Reply with 'approve' or 'deny'."
            #         polling-interval-seconds: 30
            #     timeout-minutes: 60

            -   name: Authenticate to Google Cloud (WIF) for SHRD (export ADC)
                id: auth-shrd
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}
                    export_default_credentials: true

            -   name: Set up Cloud SDK (for Artifact Registry)
                uses: google-github-actions/setup-gcloud@v2
                with:
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}

            -   name: Configure Docker to use gcloud credential helper for Artifact Registry
                run: |
                    gcloud auth configure-docker asia-docker.pkg.dev --quiet

            -   name: Authenticate to Google Cloud (WIF) for SVC (deploy)
                id: auth-svc
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SVC_PROJECT }}
                    export_default_credentials: true

            -   name: Set up Cloud SDK (for deploy)
                uses: google-github-actions/setup-gcloud@v2
                with:
                    project_id: ${{ secrets.GCP_SVC_PROJECT }}
            
            -   name: Deploy to DEV UAE Cloud Run
                run: |
                    IMAGE_TAG=${{ needs.build-dev.outputs.image_tag }}
                    gcloud run deploy ${{ vars.GCP_APP_NAME }} \
                        --image=asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.GCP_APP_NAME }}:${IMAGE_TAG} \
                        --region=asia-southeast1 \
                        --platform=managed \
                        --port=80 \
                        --quiet

    deploy-prd:
        name: Deploying PROD to PROD Cloud Run
        runs-on: ubuntu-latest
        needs: build-prod
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod' || github.ref == 'refs/heads/production'
        environment: deployments-prod
        steps:
            -   name: Await Approval
                uses: trstringer/manual-approval@v1
                with:
                    secret: ${{ secrets.GIT_TOKEN }}
                    approvers: ${{ secrets.GIT_APPROVERS }}
                    minimum-approvals: 1
                    issue-title: "Approve PROD deployment"
                    issue-body: "Please approve or deny the PROD deployment to Cloud Run. Reply with 'approve' or 'deny'."
                    polling-interval-seconds: 30
                timeout-minutes: 120

            -   name: Authenticate to Google Cloud (WIF) for SHRD Project
                id: auth-shrd
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}
                    export_default_credentials: true

            -   name: Set up Cloud SDK (for Artifact Registry)
                uses: google-github-actions/setup-gcloud@v2
                with:
                    project_id: ${{ secrets.GCP_SHRD_PROJECT }}

            -   name: Configure Docker to use gcloud credential helper for Artifact Registry
                run: |
                    gcloud auth configure-docker asia-docker.pkg.dev --quiet

            -   name: Authenticate to Google Cloud (WIF) for SVC Project
                id: auth-svc
                uses: google-github-actions/auth@v3
                with:
                    workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
                    project_id: ${{ secrets.GCP_SVC_PROJECT }}
                    export_default_credentials: true

            -   name: Set up Cloud SDK (for Cloud RUN)
                uses: google-github-actions/setup-gcloud@v2
                with:
                    project_id: ${{ secrets.GCP_SVC_PROJECT }}

            -   name: Deploy to PRD UAE Cloud Run
                run: |
                    IMAGE_TAG=${{ needs.build-prod.outputs.image_tag }}
                    gcloud run deploy ${{ vars.GCP_APP_NAME }} \
                        --image=asia-docker.pkg.dev/${{ secrets.GCP_SHRD_PROJECT }}/${{ secrets.GCP_IMAGE_REPOSITORY }}/${{ vars.GCP_APP_NAME}}:${IMAGE_TAG} \
                        --region=asia-southeast1 \
                        --platform=managed \
                        --port=80 \
                        --quiet